# Basic pandas

- conda install pandas

In [3]:
import pandas as pd
import numpy as np

# Series

In [13]:
labels = [2,4,6]
lis = range(3)
arr = np.array(data)
dic = { labels[i]: lis[i] for i in xrange(len(lis))}

pd.Series(data = lis, index = labels)
print pd.Series(lis,labels)
print pd.Series(arr,labels)
print pd.Series(dic) # tranfer into Series auromatically

2    0
4    1
6    2
dtype: int64
2    0
4    1
6    2
dtype: int64
2    0
4    1
6    2
dtype: int64

- ### built-in function as data

In [77]:
print np.array([sum,len])
print pd.Series([sum,len])

[<built-in function sum> <built-in function len>]
0    <built-in function sum>
1    <built-in function len>
dtype: object

- ### index

In [76]:
a = pd.Series(range(4), ["a","b","c","d"] )
b = pd.Series(range(1,5),["b","c","e","f"] )
# print a

> #### Selection

In [74]:
print "index(a) of a :", a["a"]

index(a) of a : 0

> #### Sum two array
> - return NaN if no match of index

In [55]:
a + b

a    NaN
b    2.0
c    4.0
d    NaN
e    NaN
f    NaN
dtype: float64

# DataFrames

- shape

In [227]:
from numpy.random import randn
np.random.seed(101)

In [228]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
print df
print df.shape

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
(5, 4)

In [229]:
# dataframe
print type(df)
# Series
print type(df['w'])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### Column Operation

> #### Selection

In [230]:
# select one
df['w'] 
print df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [231]:
# select more than one
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

> #### Create/drop column

> - drop(column, axis = 1)

>> #### Note that axis is defined by df.shape = (5,4) in the example, axis 0 is row, axis 1 is column

In [232]:
df['new'] = 0
df['new'] = df['w'] + df['y']

In [233]:
# df = df.drop('new',axis=1)
df.drop('new',axis=1,inplace=True) # inplace will change the original data
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Row Operation

> #### Selection

> - loc[]

> - iloc[]

In [234]:
# Series
print type(df.loc['a'])
print df.loc['a']
print df.iloc[0]

<class 'pandas.core.series.Series'>
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

> #### Create/drop column

> - drop(column, axis = 0(default)

In [235]:
df.loc['new'] = df.loc['a']
print df
df.drop('new',axis = 0,inplace = True)
print df

            w         x         y         z
a    2.706850  0.628133  0.907969  0.503826
b    0.651118 -0.319318 -0.848077  0.605965
c   -2.018168  0.740122  0.528813 -0.589001
d    0.188695 -0.758872 -0.933237  0.955057
e    0.190794  1.978757  2.605967  0.683509
new  2.706850  0.628133  0.907969  0.503826
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Column + Row

- #### Submatrix

In [236]:
print df.loc['a','y']
print df.loc[['a','c'],['w','y']]
print df.loc[:'b','x':]

0.907969446477
          w         y
a  2.706850  0.907969
c -2.018168  0.528813
          x         y         z
a  0.628133  0.907969  0.503826
b -0.319318 -0.848077  0.605965

### Conditional Selsection

In [237]:
# get NaN if not true
df[df>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [238]:
print df.w[df.w < 0]
print df[df.w<0]#['w']

c   -2.018168
Name: w, dtype: float64
          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

> #### Multiple Condition

In [239]:
# and doesnt work here
try:
    df.w <0 and df.x >0 # and only work for single bool
except:
    print "and doesn't work"
    print (df.w < 0) & (df.x > 0)

and doesn't work
a    False
b    False
c     True
d    False
e    False
dtype: bool

In [240]:
# or doesnt work here
df[ (df.w<0) | (df.y < 0) ]

          w         x         y         z
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

### Reset Index
- reset_index() : the original index will will be under "index" column

In [241]:
df.reset_index()# inplace

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

### Update Index

In [242]:
df["new_index"] = 'q w e r 1'.split()
df.set_index('new_index', inplace = True)
df

                  w         x         y         z
new_index
q          2.706850  0.628133  0.907969  0.503826
w          0.651118 -0.319318 -0.848077  0.605965
e         -2.018168  0.740122  0.528813 -0.589001
r          0.188695 -0.758872 -0.933237  0.955057
1          0.190794  1.978757  2.605967  0.683509

## Multilevels index

In [281]:
outside = "a,a,a,b,b,b".split(",")
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) # zip into tuple pairs
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [282]:
hier_index

MultiIndex(levels=[[u'a', u'b'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [283]:
df = pd.DataFrame(randn(6,2),hier_index,['x','y'])
df

            x         y
a 1  0.641806 -0.905100
  2 -0.391157  1.028293
  3 -1.972605 -0.866885
b 1  0.720788 -1.223082
  2  1.606780 -1.115710
  3 -1.385379 -1.329660

In [284]:
df.loc['a'].loc[1]

x    0.641806
y   -0.905100
Name: 1, dtype: float64

- index.names

In [285]:
print df.index.names 
df.index.names = ["Sample","Num"]
print df

[None, None]
                   x         y
Sample Num
a      1    0.641806 -0.905100
       2   -0.391157  1.028293
       3   -1.972605 -0.866885
b      1    0.720788 -1.223082
       2    1.606780 -1.115710
       3   -1.385379 -1.329660

- ##### xs() : cross section

In [289]:
df.xs('a')

            x         y
Num
1    0.641806 -0.905100
2   -0.391157  1.028293
3   -1.972605 -0.866885

In [290]:
df.xs(1, level="Num")

               x         y
Sample
a       0.641806 -0.905100
b       0.720788 -1.223082