# Basic pandas

- conda install pandas

In [1]:
import pandas as pd
import numpy as np

# Series

In [60]:
labels = [2,4,6]
lis = range(3)
arr = np.array(lis)
dic = { labels[i]: lis[i] for i in xrange(len(lis))}

pd.Series(data = lis, index = labels)
print pd.Series(lis,labels)
print pd.Series(arr,labels)
print pd.Series(dic) # tranfer into Series auromatically

2    0
4    1
6    2
dtype: int64
2    0
4    1
6    2
dtype: int64
2    0
4    1
6    2
dtype: int64

- ### built-in function as data

In [3]:
print np.array([sum,len])
print pd.Series([sum,len])

[<built-in function sum> <built-in function len>]
0    <built-in function sum>
1    <built-in function len>
dtype: object

- ### index

In [4]:
a = pd.Series(range(4), ["a","b","c","d"] )
b = pd.Series(range(1,5),["b","c","e","f"] )
# print a

> #### Selection

In [5]:
print "index(a) of a :", a["a"]

index(a) of a : 0

> #### Sum two array
> - return NaN if no match of index

In [6]:
a + b

a    NaN
b    2.0
c    4.0
d    NaN
e    NaN
f    NaN
dtype: float64

# DataFrames

- shape

In [7]:
from numpy.random import randn
np.random.seed(101)

In [8]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
print df
print df.shape

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
(5, 4)

In [9]:
# dataframe
print type(df)
# Series
print type(df['w'])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### Column Operation

> #### Selection

In [10]:
# select one
df['w'] 
print df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [11]:
# select more than one
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

> #### Create/drop column

> - drop(column, axis = 1)

>> #### Note that axis is defined by df.shape = (5,4) in the example, axis 0 is row, axis 1 is column

In [12]:
df['new'] = 0
df['new'] = df['w'] + df['y']

In [13]:
# df = df.drop('new',axis=1)
df.drop('new',axis=1,inplace=True) # inplace will change the original data
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Row Operation

> #### Selection

> - loc[]

> - iloc[]

In [14]:
# Series
print type(df.loc['a'])
print df.loc['a']
print df.iloc[0]

<class 'pandas.core.series.Series'>
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

> #### Create/drop column

> - drop(column, axis = 0(default)

In [15]:
df.loc['new'] = df.loc['a']
print df
df.drop('new',axis = 0,inplace = True)
print df

            w         x         y         z
a    2.706850  0.628133  0.907969  0.503826
b    0.651118 -0.319318 -0.848077  0.605965
c   -2.018168  0.740122  0.528813 -0.589001
d    0.188695 -0.758872 -0.933237  0.955057
e    0.190794  1.978757  2.605967  0.683509
new  2.706850  0.628133  0.907969  0.503826
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Column + Row

- #### Submatrix

In [16]:
print df.loc['a','y']
print df.loc[['a','c'],['w','y']]
print df.loc[:'b','x':]

0.907969446477
          w         y
a  2.706850  0.907969
c -2.018168  0.528813
          x         y         z
a  0.628133  0.907969  0.503826
b -0.319318 -0.848077  0.605965

### Conditional Selsection

In [17]:
# get NaN if not true
df[df>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [18]:
print df.w[df.w < 0]
print df[df.w<0]#['w']

c   -2.018168
Name: w, dtype: float64
          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

> #### Multiple Condition

In [19]:
# and doesnt work here
try:
    df.w <0 and df.x >0 # and only work for single bool
except:
    print "and doesn't work"
    print (df.w < 0) & (df.x > 0)

and doesn't work
a    False
b    False
c     True
d    False
e    False
dtype: bool

In [20]:
# or doesnt work here
df[ (df.w<0) | (df.y < 0) ]

          w         x         y         z
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

### Reset Index
- reset_index() : the original index will will be under "index" column

In [21]:
df.reset_index()# inplace

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

### Update Index

In [22]:
df["new_index"] = 'q w e r 1'.split()
df.set_index('new_index', inplace = True)
df

                  w         x         y         z
new_index
q          2.706850  0.628133  0.907969  0.503826
w          0.651118 -0.319318 -0.848077  0.605965
e         -2.018168  0.740122  0.528813 -0.589001
r          0.188695 -0.758872 -0.933237  0.955057
1          0.190794  1.978757  2.605967  0.683509

## Multilevels index

In [23]:
outside = "a,a,a,b,b,b".split(",")
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) # zip into tuple pairs
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [24]:
hier_index

MultiIndex(levels=[[u'a', u'b'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [25]:
df = pd.DataFrame(randn(6,2),hier_index,['x','y'])
df

            x         y
a 1  0.302665  1.693723
  2 -1.706086 -1.159119
  3 -0.134841  0.390528
b 1  0.166905  0.184502
  2  0.807706  0.072960
  3  0.638787  0.329646

In [26]:
df.loc['a'].loc[1]

x    0.302665
y    1.693723
Name: 1, dtype: float64

- index.names

In [27]:
print df.index.names 
df.index.names = ["Sample","Num"]
print df

[None, None]
                   x         y
Sample Num
a      1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
b      1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646

- ##### xs() : cross section

In [28]:
df.xs('a')

            x         y
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [29]:
df.xs(1, level="Num")

               x         y
Sample
a       0.302665  1.693723
b       0.166905  0.184502

# Combine dataFrame 

## Groupby

- groupby()

- describe()

In [31]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [37]:
# retrun a object
df.groupby('Company')

# mean
print df.groupby('Company').mean()
byComp = df.groupby('Company')
print byComp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0
         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [47]:
byComp.sum()
byComp.std()
byComp.max().loc['FB']

Person    Sarah
Sales       350
Name: FB, dtype: object

In [51]:
df.groupby("Company").describe().T

Company    FB                                                         GOOG  \
        count   mean        std    min     25%    50%     75%    max count
Sales     2.0  296.5  75.660426  243.0  269.75  296.5  323.25  350.0   2.0

Company         ...                  MSFT                                   \
          mean  ...      75%    max count   mean         std    min    25%
Sales    160.0  ...    180.0  200.0   2.0  232.0  152.735065  124.0  178.0

Company
           50%    75%    max
Sales    232.0  286.0  340.0

[1 rows x 24 columns]

## Merging, Joining, Concatenating

- concat

In [74]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [83]:
print pd.concat([df1,df2,df3], axis = 0).T # default

print pd.concat([df1,df2,df3], axis = 1).T

   0   1   2   3   4   5   6   7   8   9    10   11
A  A0  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11
B  B0  B1  B2  B3  B4  B5  B6  B7  B8  B9  B10  B11
C  C0  C1  C2  C3  C4  C5  C6  C7  C8  C9  C10  C11
D  D0  D1  D2  D3  D4  D5  D6  D7  D8  D9  D10  D11
    0    1    2    3    4    5    6    7    8    9    10   11
A   A0   A1   A2   A3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B   B0   B1   B2   B3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C   C0   C1   C2   C3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D   D0   D1   D2   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
A  NaN  NaN  NaN  NaN   A4   A5   A6   A7  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN   B4   B5   B6   B7  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN   C4   C5   C6   C7  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN   D4   D5   D6   D7  NaN  NaN  NaN  NaN
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   A9  A10  A11
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   B8   B9  B10  B11
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   C8   C9  C10  C11
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   D8   D9  D10  D11

- merge

In [115]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})
print left
print right
pd.merge(left,right, how='inner', on = ['key1','key2']) #default inner

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

- Joining ( the matching key is index )

In [118]:
try:
    left.join(right)
except:
    print "ValueError: columns overlap but no suffix specified: Index([u'key1', u'key2'], dtype='object')"
    left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                         'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']},
                        index = "k1 k2 k3 k4".split() )
    
    right = pd.DataFrame({'key3': ['K0', 'K1', 'K1', 'K2'],
                                   'key4': ['K0', 'K0', 'K0', 'K0'],
                                      'C': ['C0', 'C1', 'C2', 'C3'],
                                      'D': ['D0', 'D1', 'D2', 'D3']},
                        index = "k0 k4 k3 k5".split())
left.join(right, how = "inner")

     A   B key1 key2   C   D key3 key4
k3  A2  B2   K1   K0  C2  D2   K1   K0
k4  A3  B3   K2   K1  C1  D1   K1   K0
k4  A3  B3   K2   K1  C3  D3   K2   K0