# Missing Value

In [7]:
import numpy as np
import pandas as pd

In [77]:
# 1.
df = pd.DataFrame(np.random.randn(3,3))
df = df[df>0]

df = pd.DataFrame(df.values, [0,1,2], "a b c".split())
print df


# 2.
dic = { "a" : [np.nan, np.nan, 1], "b" : range(3), "c" :[np.nan] +  range(3,5) }
df = pd.DataFrame(dic)
df

          a         b         c
0       NaN  1.320459       NaN
1  2.294875       NaN  1.027936
2       NaN       NaN  0.705755

     a  b    c
0  NaN  0  NaN
1  NaN  1  3.0
2  1.0  2  4.0

- ### dropna() : default axis = 0

In [78]:
df.dropna(axis=0)

     a  b    c
2  1.0  2  4.0

In [79]:
df.dropna(axis=1)

   b
0  0
1  1
2  2

In [80]:
df.dropna(thresh=2) # threshhold at least 2 ***non*** NaN value

     a  b    c
1  NaN  1  3.0
2  1.0  2  4.0

### - fillna()

In [81]:
# fill boundary
df.fillna(value = float('inf'))

0    NaN
1    NaN
2    1.0
Name: a, dtype: float64

In [83]:
# fill average
df.a.fillna(value = df.a.mean(),inplace=True)
df

     a  b    c
0  1.0  0  NaN
1  1.0  1  3.0
2  1.0  2  4.0

In [88]:
if "a" != None:
    print 1

1