- conda install sqlalchemy
- conda install lxml
- conda install html5lib
- conda install BeautifulSoup4

In [18]:
import pandas as pd
import numpy as np

### CSV
- read_ ...

###### Refeference: https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/

In [15]:
pwd

u'/Users/lennyland/Documents/GitHub/PythonNoteBook/New'

In [17]:
pd.read_csv("example.csv")
#pd.read_json ...

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

- to_csv

In [63]:
df = pd.DataFrame(np.arange(10).reshape(2,5), index = ["a","b"], columns=[2,4,6,8,10])
print df
# set index to be false won't save your index
df.to_csv('example2.csv') # index = False
df = pd.read_csv("example2.csv",)

   2   4   6   8   10
a   0   1   2   3   4
b   5   6   7   8   9

In [64]:
df.set_index('Unnamed: 0',inplace=True)
print df

            2  4  6  8  10
Unnamed: 0
a           0  1  2  3   4
b           5  6  7  8   9

### Excel

In [32]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [33]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='New')

### HTML

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects

In [40]:
# the return might is a list
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [44]:
type(data)
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","December 20, 2017"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","October 20, 2017"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","July 26, 2017"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

### SQL

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Pythonâ€™s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.
    
##### Reference : Pieriandata https://www.pieriandata.com

In [46]:
# create a simple sql engine
from sqlalchemy import create_engine

In [47]:
engine = create_engine('sqlite:///:memory:')

In [50]:
df = pd.read_csv('example.csv')
df.to_sql('my_table', engine)

In [51]:
sqldf = pd.read_sql('my_table',con = engine)

In [52]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15